@use "@/styles/typography/paragraph.module.scss" as p;

.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.spinner {
  display: inline-block;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--colorAccentPrimary);
  border-right-color: var(--colorAccentPrimary);
  animation: spin 0.8s linear infinite;

  &.small {
    width: 32px;
    height: 32px;
    border-width: 2px;
  }

  &.medium {
    width: 48px;
    height: 48px;
    border-width: 3px;
  }

  &.large {
    width: 64px;
    height: 64px;
    border-width: 4px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.message {
  @include p.paragraphSmall;
  
  color: var(--colorTextPrimary);
  margin: 0;
  text-align: center;
}
