.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  font-family: var(--font-serif);
  font-size: 16px;
  color: var(--colorTextPrimary);
  margin: 0;
  line-height: 1.5;
}
