html,
body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-sans), system-ui, -apple-system, "Segoe UI", Roboto,
    Arial, sans-serif;
  background-color: var(--colorBgBase);
  color: var(--colorTextPrimary);
}

a {
  color: var(--colorAccentPrimary);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
