@use "@/styles/design-variables.module.scss" as vars;
@use "@/styles/breakpoints.module.scss" as bp;

.main {
  flex: 1;
  padding: 64px 120px;
  background: var(--colorBgBase);
  min-height: 100vh;

  @include bp.desktop {
    padding: 56px 80px;
  }

  @include bp.tablet {
    padding: 40px 32px;
  }

  @include bp.mobile {
    padding: 24px 16px;
  }
}

.container {
  max-width: 832px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include bp.tablet {
    gap: 24px;
  }

  @include bp.mobile {
    gap: 20px;
  }
}

.profileDetails {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include bp.mobile {
    gap: 20px;
  }
}
