.main {
  flex: 1;
  padding: 48px 155px;
  background: var(--colorBgBase);
}

.container {
  max-width: 832px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
