.logo {
  font-family: var(--font-serif);
  font-weight: 700;
  font-size: 20px;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.nav {
  display: flex;
  gap: 24px;

  a {
    color: #ffffff;
    text-decoration: none;
    font-family: var(--fontSans);
    font-size: 16px;

    &:hover {
      text-decoration: underline;
      color: var(--colorAccentPrimary);
    }
  }
}
